{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<section class="contact-sec bg-gray space-large">
  <div class="small-container">
    <div class="heading-txt text-center">
      <h2>{{ 'Contact Us'|trans }}</h2>
    </div>
    <div role="form" > 
      <form{{ attributes }}>
          {{ children }}
      </form>
    </div>
  </div>
</section>