{#
/**
 * @see template_preprocess_node()
 *
 * Contact footer.
 * @ingroup themeable
 */
#}
{% if (content.field_display_contact_footer.0["#markup"] == 1) and (content.field_contact_footer_form|render is not empty) %}
  <section class="contact-sec bg-gray space-large">
    <div class="small-container">
      <div class="heading-txt text-center">
        <h2>{{ content.field_contact_footer_form.0["#markup"] }}</h2>
      </div>
      <div role="form" >
        {% if node.field_contact_footer_form.0.value == 'contact-us' %}
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "5361935",
            formId: "e7925078-ecc3-4fc0-a7d2-0e0d3a76a9f1"
          });
          </script>
        {% endif %}
        
        {% if node.field_contact_footer_form.0.value == 'request-for-quote' %}
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "5361935",
            formId: "edf2530b-2f2c-46fc-bb56-7163e94dd003"
          });
          </script>
        {% endif %}
        
        {% if node.field_contact_footer_form.0.value == 'technical-support-request' %}
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "5361935",
            formId: "41acc59a-ac51-4783-a50b-c54b2e879788"
          });
          </script>
        {% endif %}
        
        {% if node.field_contact_footer_form.0.value == 'customer-support-request' %}
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "5361935",
            formId: "d7898a7c-464b-492d-b644-c4d94503cd47"
          });
          </script>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}